<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warehouse.mapper.ProductBrandMapper">
    <!--
      //查询所有品牌的方法
      public List<ProductBrand> findAllBrand()
    -->
    <select id="findAllBrand" resultType="com.warehouse.entity.ProductBrand">
        select *
        from product_brand
    </select>

    <select id="selectBrandCount" resultType="int">
        select count(*)
        from product_brand
        <where>
            <if test="brandName != null and brandName != ''">
                and brand_name like concat('%', #{brandName}, '%')
            </if>
            <if test="brandInitial != null and brandInitial != ''">
                and brand_initial like concat('%', #{brandInitial}, '%')
            </if>
            <if test="brandDesc != null and brandDesc != ''">
                and brand_desc like concat('%', #{brandDesc}, '%')
            </if>
        </where>
    </select>

    <select id="selectBrandPage" resultType="com.warehouse.entity.ProductBrand">
        select *
        from product_brand
        <where>
            <if test="productBrand.brandName != null and productBrand.brandName != ''">
                and brand_name like concat('%', #{productBrand.brandName}, '%')
            </if>
            <if test="productBrand.brandInitial != null and productBrand.brandInitial != ''">
                and brand_initial like concat('%', #{productBrand.brandInitial}, '%')
            </if>
            <if test="productBrand.brandDesc != null and productBrand.brandDesc != ''">
                and brand_desc like concat('%', #{productBrand.brandDesc}, '%')
            </if>
        </where>
        limit #{page.limitIndex}, #{page.pageSize}
    </select>

    <insert id="saveBrand">
        insert into product_brand(brand_name, brand_initial, brand_desc)
        values(#{brandName}, #{brandInitial}, #{brandDesc})
    </insert>

    <update id="updateBrand">
        update product_brand
        set brand_name = #{brandName},
            brand_initial = #{brandInitial},
            brand_desc = #{brandDesc}
        where brand_id = #{brandId}
    </update>

    <delete id="deleteBrand">
        delete from product_brand
        where brand_id = #{brandId}
    </delete>
</mapper>