<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warehouse.mapper.UserMapper">
    <resultMap type="User" id="userResult">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_code" property="userCode"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="is_admin" property="isAdmin"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--public User findUserByCode(String userCode)-->
    <select id="findUserByCode" resultMap="userResult">
        SELECT *
        FROM user
        WHERE user_code = #{userCode}
          and is_deleted = 0
    </select>

    <!--
      //查询用户总行数的方法
      public int selectUserCount(User user)
    -->
    <select id="selectUserCount" resultType="integer">
        select count(*)
        from user
        <where>
            <if test="userCode != null and userCode != ''">
                and user_code like concat('%', #{userCode}, '%')
            </if>
            <if test="isAdmin != null and isAdmin != ''">
                and is_admin = #{isAdmin}
            </if>
            <if test="isEnabled != null">
                and is_enabled = #{isEnabled}
            </if>
            and is_deleted = 0
        </where>
    </select>

    <!--
     //分页查询用户的方法
	 public List<User> selectUserPage(@Param("page") Page page, @Param("user")User user)
    -->
    <select id="selectUserPage" resultMap="userResult">
        select *
        from user
        <where>
            <if test="user.userCode != null and user.userCode != ''">
                and user_code like concat('%', #{user.userCode}, '%')
            </if>
            <if test="user.isAdmin != null and user.isAdmin != ''">
                and is_admin = #{user.isAdmin}
            </if>
            <if test="user.isEnabled != null">
                and is_enabled = #{user.isEnabled}
            </if>
            and is_deleted = 0
        </where>
        limit #{page.limitIndex}, #{page.pageSize}
    </select>

    <!--
      //添加用户的方法
      public int insertUser(User user);
    -->
    <insert id="insertUser">
        insert into user
        (user_name, user_code, user_pwd, is_enabled, is_admin, is_deleted, create_time)
        values (#{userName}, #{userCode}, #{userPwd}, 1, #{isAdmin}, 0, now())
    </insert>

    <!--
      //根据用户id修改用户状态的方法
      public int updateUserState(User user)
    -->
    <update id="updateUserState">
        update user
        set is_enabled = #{isEnabled}
        where user_id = #{userId}
    </update>

    <!--
      //根据用户id将用户状态修改为删除状态
      public int setUserDelete(Integer userId)
    -->
    <update id="setUserDelete">
        update user
        set is_deleted = 1
        where user_id = #{userId}
    </update>

    <!--
     //根据用户id修改用户昵称的方法
     public int updateNameById(User user)
    -->
    <update id="updateNameById">
        update user
        set user_name   = #{userName},
            is_admin    = #{isAdmin}
        where user_id = #{userId}
    </update>

    <!--
     //根据用户id修改密码的方法
     public int updatePwdById(User user)
    -->
    <update id="updatePwdById">
        update user
        set user_pwd = #{userPwd}
        where user_id = #{userId}
    </update>
</mapper>
